.app-wrapper {
  display: grid;
  width: 1000px;
  margin: 0 auto;
  /* justify-content: center; */

  grid-template-areas:
    "header header"
    "nav content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1.5fr 10fr;
  /* grid-template-columns: repeat(auto-fit, minmax(1.5fr 10fr)); */
  grid-gap: 8px;
  /* background: rgb(188, 177, 177); */
}

.app-wrapper-content {
  grid-area: content;
  /* background: rgb(161, 48, 48); */
  /* color: white; */
  /* padding: 15px; */
}

body {
  background: rgb(20, 20, 20);
}
